:root {
  --primary-color: #0594cb;
  --primary-color-dark: #0a1922;
  --primary-color-light: #f9f9f9;
  --accent-color: #ebb951;
  --accent-color-light: #ff4088;
  --accent-color-dark: #33ba91;
  --text-color-primary: #373737;
  --text-on-primary-color: #fff;
  --text-color-secondary: #ccc;
  --text-color-disabled: #f7f7f7;
  --divider-color: #f6f6f6;
  --warn-color: red;
  --blue: var(--primary-color);
  --daktadeo-dark: #30484b;
  --daktadeo-light: #80a5a9;
  --daktadeo-orange: #f9af3c;
  --multipass-red: #a11b29;
  --multipass-grey: #585658;
  --white: #fff;
  --black: #000;
  --light-silver: #aaa;
}
